@font-face {
  font-family: lol;
  src: url(PermanentMarker-Regular.ttf)
}

body {margin: 20%;
    background-color: rgb(219, 199, 199);
    font-style: normal;
    border-radius: 35%;
    font-variant: small-caps ;
    font-family: 'lol';
  }
    
p { font-size: width 50%;
        font-style: normal;
        background-color: beige;
    
    }
h1 {text-align: center;
    font-size: 200%;
    font-variant: unset;
    background-color: rgb(158, 241, 243);
    font-display: block;
    
}


