body {margin: 20%;
    background-color: rgb(243, 243, 243);
    font-style: normal;
    border-radius: 35%;
    font-variant: small-caps ;

    
    }
    
    p { font-size: width 50%;
        font-style: normal;
        background-color: aqua;
        
    
    }
    